* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    /*y轴上的滚动条宽度*/
    height: 6px;
    /*x轴上滚动条高度*/
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    /*滚动条的背景区域的圆角*/
    background-color: #fdf8f5;
    /*滚动条的背景颜色*/
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    /*滚动条的圆角*/
    background-color: #ccc;
    /*滚动条的背景颜色*/
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(46, 86, 159);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(46, 86, 159);
    cursor: pointer;
}