* {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    overflow: hidden;
    height: 100%;
}

ul,dl,li,dt {
    list-style: none;
}



::-webkit-scrollbar {
    width: 6px;
    /*y轴上的滚动条宽度*/
    height: 6px;
    /*x轴上滚动条高度*/
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    /*滚动条的背景区域的圆角*/
    background-color: #fdf8f5;
    /*滚动条的背景颜色*/
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    /*滚动条的圆角*/
    background-color: #ccc;
    /*滚动条的背景颜色*/
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(46, 86, 159);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(46, 86, 159);
    cursor: pointer;
}

.one_ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.two_ellipsis{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp:2;
    text-overflow: ellipsis;
    overflow: hidden;
}